@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <AuthorizeView>
            <Authorized>
                <div class="top-row px-4">
                    <a href="basket">Корзина</a>
                    <span></span>
                    <a href="logout">Выйти</a>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="top-row px-4">
                    <a href="login">Вход</a>
                    <span></span>
                    <a href="register">Регистрация</a>
                </div>
            </NotAuthorized>
        </AuthorizeView>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    Произошла ошибка на странице.
    <a href="" class="reload">Перезагрузить</a>
    <a class="dismiss">🗙</a>
</div>
